# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# next.js
/.next/
/out/

# firebase
/firebase-debug.log
/firebase-debug.*.log

# environment variables
.env.local
.env.*.local

# misc
.DS_Store
*.pem

