@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 276 100% 97%;
    --foreground: 276 25% 15%;

    --card: 276 100% 99%;
    --card-foreground: 276 25% 15%;

    --popover: 276 100% 99%;
    --popover-foreground: 276 25% 15%;

    --primary: 276 96% 85%;
    --primary-foreground: 276 25% 10%;

    --secondary: 276 50% 92%;
    --secondary-foreground: 276 25% 10%;

    --muted: 276 50% 92%;
    --muted-foreground: 276 25% 45%;

    --accent: 198 62% 80%;
    --accent-foreground: 198 25% 10%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 276 50% 90%;
    --input: 276 50% 94%;
    --ring: 276 96% 85%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 276 10% 10%;
    --foreground: 276 10% 95%;

    --card: 276 10% 12%;
    --card-foreground: 276 10% 95%;

    --popover: 276 10% 12%;
    --popover-foreground: 276 10% 95%;

    --primary: 276 96% 85%;
    --primary-foreground: 276 25% 10%;

    --secondary: 276 10% 20%;
    --secondary-foreground: 276 10% 95%;

    --muted: 276 10% 20%;
    --muted-foreground: 276 10% 65%;

    --accent: 198 62% 80%;
    --accent-foreground: 198 25% 10%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 276 10% 20%;
    --input: 276 10% 22%;
    --ring: 276 96% 85%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
